{% extends "base.html" %}

{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/update_password_form.css' %}">

{% include "authentication/update_password_header.html" %}

<div class="px-5 md:px-10 lg:px-20 my-10 flex flex-col gap-y-5">
    <form id="update__passwordForm" method="POST" class="flex flex-col gap-y-3">
        {% csrf_token %}
        <div class="flex flex-col gap-y-1">
            <label for="new_password">*New Password</label>
            <input type="password" name="new_password" id="new_password" class="px-3 py-2 mt-2 border border-gray-300 focus:outline-none focus:ring-2 focus:ring-gray-300 rounded" required>
            <p id="new__passwordErrorMsg" class="hidden text-rose-500 font-medium">Error message!</p>
        </div>
        <div class="flex flex-col gap-y-1">
            <label for="conf_new_password">*Confirm New Password</label>
            <input type="password" name="conf_new_password" id="conf_new_password" class="px-3 py-2 mt-2 border border-gray-300 focus:outline-none focus:ring-2 focus:ring-gray-300 rounded" required>
            <p id="conf__newPasswordErrorMsg" class="hidden text-rose-500 font-medium">Error message!</p>
        </div>
        <div class="mt-1">
            <button id="update__passwordBtn" type="submit" class="flex items-center gap-x-1 px-10 py-2 bg-indigo-500 text-white hover:bg-indigo-700 hover:shadow rounded cursor-pointer transition-all duration-300 ease-in-out">
                <div id="update__passwordIcon">
                    <span class="iconify text-lg" data-icon="dashicons:update-alt"></span>
                </div>
                Update
            </button>
        </div>
    </form>
</div>

<script src="{% static 'js/update_password_form.js' %}"></script>
{% endblock %}