#home__blogs .slick-slide {
    margin-right: 15px;
}

@media (max-width: 599px) {
    .home__blogImgDiv {
        height: 250px;
    }

    #home__blogs .slick-slide {
        margin-right: 0;
    }
}