.home__serviceIcon {
    border-radius: 50%;
}

@media (max-width: 991px) {
    #home__services > div {
        display: grid;
        place-items: center;
        text-align: center;
        row-gap: 10px;
    }
}

@media (max-width: 767px) {
    #home__services {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 599px) {
    #home__services {
        grid-template-columns: 100%;
    }
}