#update__passwordIcon.rotate__updatePasswordIcon {
    animation: password_icon_animation 1s linear infinite;
}

@keyframes password_icon_animation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}