{% extends "base.html" %}

{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/about_us.css' %}">

{% include "product/about_us_header.html" %}

<div class="px-5 md:px-10 lg:px-20 my-10">
    <div class="flex flex-col gap-y-10">
        <div class="grid grid-cols-1 md:grid-cols-2 items-center gap-x-5 gap-y-3">
            <div class="flex flex-col gap-y-3 order-2 md:order-none">
                <h5 class="text-base sm:text-lg font-semibold">The History Behind Our Company</h5>
                <p class="text-slate-600">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet ullam, ut ea quasi quas impedit maiores, doloremque, explicabo voluptas velit dicta! Sit suscipit exercitationem laborum dolores molestias ipsam facilis nihil rerum perspiciatis, recusandae, quis et aperiam voluptate porro molestiae! Optio maiores, saepe culpa totam assumenda dicta ex vel corporis qui.
                </p>
            </div>
            <img src="{% static 'static_images/company.jpg' %}" class="w-full h-[350px] md:h-[300px] object-cover about__usImg" alt="">
        </div>
        <div class="my-0 md:my-10 grid grid-cols-1 md:grid-cols-2 items-center gap-x-5 gap-y-3">
            <img src="{% static 'static_images/company2.jpg' %}" class="w-full h-[350px] md:h-[300px] object-cover about__usImg" alt="">
            <div class="flex flex-col gap-y-3 order-2 md:order-none">
                <h5 class="text-base sm:text-lg font-semibold">More About our company</h5>
                <p class="text-slate-600">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores quia a ipsam iusto rerum modi alias, commodi, tempora, porro quos placeat cum repellat minus ex. Tempore eveniet ut perspiciatis quae. Molestias laborum, adipisci, iure similique numquam minima voluptatem harum natus consequatur ducimus, eius cupiditate asperiores saepe! Eos eius eveniet repudiandae dolorem nesciunt molestias facilis rerum! Provident numquam deserunt totam iusto adipisci perferendis autem voluptatem atque vero nobis impedit illo, assumenda mollitia quod, harum molestiae repellat sapiente rerum deleniti veritatis fuga consequatur nam accusantium. Expedita iure, reprehenderit ipsa eos ab mollitia voluptatibus harum placeat hic in. Illum unde modi architecto error.
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}