{% load static %}

<div>
    <div id="blog__left" class="flex flex-col gap-y-5 pr-5 border-r border-gray-300">
        {% if blogs %}
            {% for blog in blogs %}
                <div class="flex items-center gap-x-5 pb-5 border-b border-gray-300 last:border-0">
                    <div class="w-[300px] min-w-[300px] max-w-[300px] h-[250px] overflow-hidden bg-slate-600 blog__imageDiv">
                        <a href="{% url 'product:blog-detail' blog.slug %}" class="w-full h-full">
                            <img data-src="{{ blog.image }}" class="w-full h-full hover:scale-125 object-fill transition-all duration-300 ease-in-out" alt="">
                        </a>
                    </div>
                    <div class="flex flex-col gap-y-3 blog__contentMainDiv">
                        <a href="{% url 'product:category-wise-blog' blog.category.slug %}" class="text-indigo-500 uppercase">
                            <p>{{ blog.category.title }}</p>
                        </a>
        
                        <a href="{% url 'product:blog-detail' blog.slug %}" class="font-semibold capitalize text-base sm:text-xl hover:text-indigo-500 transition-colors duration-300 ease-in-out">
                            <p>{{ blog.title }}</p>
                        </a>
        
                        <div class="pb-3 border-b border-gray-300">
                            <div class="text-slate-600 blog__desc">
                              {{ blog.content|safe }}  
                            </div>
                            <a href="{% url 'product:blog-detail' blog.slug %}" class="uppercase text-indigo-500 flex items-center gap-x-1 mt-2">
                                Read More
                                <span class="iconify" data-icon="akar-icons:chevron-right"></span>
                            </a>
                        </div>
        
                        <div class="flex items-center justify-between text-xs text-slate-500">
                            <div class="flex items-center gap-x-1">
                                <span class="iconify text-base" data-icon="fa:comment-o"></span>
                                <p>{{ blog.number_of_reviews }}</p>
                                <p>Comments</p>
                            </div>
                            <div>
                                <p>{{ blog.created_at }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div>
                <p class="text-center mb-20 font-medium text-rose-500">No blog found!</p>
            </div>
        {% endif %}
    </div>
</div>

<script src="{% static 'js/blog_left.js' %}"></script>