{% load static %}

<div id="blog__right" class="ml-5">
    <div class="flex flex-col gap-y-5">
        <div class="flex-1">
            <input id="blog__searchInput" class="invisible w-full rounded px-3 py-1.5 border border-gray-300 focus:outline-none focus:ring-2 focus:ring-gray-300" type="text" placeholder="Search blog...">
        </div>

        {% include "product/blog_recent_post.html" %}

        {% include "product/blog_categories.html" %}

        {% include "product/blog_search.html" %}
    </div>
</div>