{% load static %}

{% load mathfilters %}

<link rel="stylesheet" href="{% static 'css/home_products.css' %}">

<div class="flex flex-col gap-y-7">
    <h5 class="font-semibold text-base">Related Products</h5>

    {% comment %}Showing 10 related products{% endcomment %}
    <div class="flex flex-wrap gap-5 home__product">
        {% if related_products %}
            {% for product in related_products %}
                <div class="w-[200px] flex flex-col items-center gap-y-3">
                    <div class="relative h-[300px] w-full overflow-hidden bg-slate-600 home__productImageContent">
                        <a href="{% url 'product:product-detail' product.slug %}" class="w-full h-full">
                            <img class="w-full h-full object-cover hover:scale-125 transition-all duration-300 ease-in-out" data-src="{{ product.image.url }}" alt="">
                        </a>
                        {% if product.discount_percentage > 0 %}
                            <div class="absolute left-0 top-0 px-3 py-1 bg-indigo-500 text-white text-xs">
                                <p>{{ product.discount_percentage }}% OFF</p>
                            </div>
                        {% endif %}
                        <button onclick="{% if wishlist_obj is None %}addToWishlist(this){% elif wishlist_obj is not None and product not in wishlist_obj.product.all %}addToWishlist(this){% else %}removeFromWishlist(this){% endif %}" id="product-wishlist-{{ product.uid }}" class="absolute right-[-100%] top-0 hidden sm:flex items-center gap-x-1 text-xs px-3 py-1 bg-rose-500 hover:bg-rose-700 text-white cursor-pointer transition-all duration-300 ease-in-out product__wishlistBtn">
                            <span class="iconify text-sm" data-icon="ant-design:heart-{% if wishlist_obj is None %}outlined{% elif wishlist_obj is not None and product not in wishlist_obj.product.all %}outlined{% else %}filled{% endif %}"></span>
                            <p>
                                {% if wishlist_obj is None %}
                                    Add to wishlist
                                {% elif wishlist_obj is not None and product not in wishlist_obj.product.all %}
                                    Add to wishlist
                                {% else %}
                                    Remove
                                {% endif %}
                            </p>
                        </button>
                        <button onclick="quickView(this)" id="product-{{ product.uid }}" class="absolute hidden opacity-0 left-0 bottom-0 w-full sm:flex items-center justify-center gap-x-0.5 px-5 py-1.5 text-slate-100 cursor-pointer transition-all duration-300 ease-in-out product__quickViewBtn">
                            <span class="iconify text-lg" data-icon="clarity:eye-solid"></span>
                            Quick View
                        </button>
                    </div>
    
                    <div class="flex flex-col items-center gap-y-1">
                        <a href="{% url 'product:product-detail' product.slug %}" class="sm:hover:text-indigo-500 transition-colors duration-300 ease-in-out">
                            <p>{{ product.title }}</p>
                        </a>
                        {% if product.discount_percentage > 0 %}
                            <div class="flex flex-wrap gap-2 items-center">
                                <p class="text-base font-medium text-indigo-500">
                                    {% with price=product.price discount=product.discount_percentage %}
                                        ${{ price|mul:discount|div:100|sub:price|abs|floatformat:2 }}
                                    {% endwith %}
                                </p>
                                <p class="text-slate-500 line-through">{{ product.price }}</p>
                            </div>
                        {% else %}
                            <p class="text-base font-medium text-indigo-500">
                                ${{ product.price }}
                            </p>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>

<script src="{% static 'js/product_detail_related_products.js' %}"></script>