{% load static %}

<link rel="stylesheet" href="{% static 'css/product_search.css' %}">

<div id="product__searchMainDiv" class="fixed top-0 left-0 w-full h-screen z-20 opacity-0">
    <div class="absolute top-0 left-0 w-full h-full bg-white z-50 scale-0 px-5 md:px-10 lg:px-20">
        <div class="flex flex-col gap-y-5 mt-10">
            <div class="flex flex-wrap gap-y-3 items-center justify-between">
                <h5 class="text-xl sm:text-2xl font-semibold">Search Product...</h5>
                <div id="close__productSearchModal" class="flex items-center gap-x-1 cursor-pointer text-rose-500">
                    <span class="iconify text-lg" data-icon="carbon:close-outline"></span>
                    Close
                </div>
            </div>

            <div class="flex flex-col">
                <form method="GET" id="product__searchForm" class="flex items-center border border-gray-300 rounded">
                    <input id="search__productInput" type="text" class="flex-1 px-3 py-2 rounded-l focus:outline-none" placeholder="Search...">
                    <button type="submit" class="px-2 py-2 rounded-r">
                        <span class="iconify text-lg" data-icon="carbon:search"></span>
                    </button>
                </form>

                <div class="h-full flex flex-col justify-between">
                    {% comment %}Show only 10 results{% endcomment %}
                    <div id="product__searchResultDiv" class="w-full h-full overflow-x-hidden overflow-y-auto">
                        <div id="product__searchResultChildDiv" class="w-full h-full flex flex-col p-3 pt-5">
                        </div>
                    </div>
                    <div id="product__seeAllResults" class="hidden bg-indigo-500 cursor-pointer text-white px-3 py-2 rounded flex items-center justify-center gap-x-1 hover:bg-indigo-700 transition-colors duration-300 ease-in-out">
                        <span class="iconify text-lg" data-icon="carbon:result"></span>
                        See All Results
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'js/product_search.js' %}"></script>